html {
    background-color: black;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    min-height: 100vh;
}

@media (max-width : 1920px) {
    html {
        font-size: 1em;
    }

}

@media (max-width : 500px) {
    html {
        font-size: .9em;

        margin-top: -1em;
        
    }
}

@media (max-width : 360px) {
    html {
        font-size: .75em;

        margin-top: -.5em;
        
    }
}

body {
    width: 90vw;
    max-width: 40rem;
    height: auto;

    border-radius: calc(0.375rem - 1px);
    border: 1px solid white;
    
    margin: 0;
    padding: 0.125rem;

    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    font-weight: bold;

    background-color: rgb(42, 46, 47);
    box-shadow: rgb(2, 2,3) 0rem 0rem 0rem 0.125rem;
    border-color: rgb(139, 129, 114);
}

img {
    width: 100%;
    display: block;

    object-fit: cover;
}

ul {
    list-style-type:none;
}
ul h1 {
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
a {
    color: white;
    text-decoration: none;

}

  
.header {
    font-family: Poppins, sans-serif;
    margin: 0;
}

.addrsBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: calc(0.375rem - 1px);

    padding: 0.125rem;
    

    background-color: #1a1d1e;
    color: white;

}

#headerButtons a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    line-height: 1.375;
    font-weight: bold;
    color: white;
}
#addrsBarText {
    display: flex;
    direction: row;

    text-align: left;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: bold;

    width: 15rem;
}
#addrsBarText2 {
    display: flex;
    direction: row;

    text-align: left;
    font-size: 0.75em;
    line-height: 1.5;
    font-weight: bold;

    width: 15rem;

    border: .25px solid #7a7164;
    border-radius: 0px;

    margin-left: 10wv;
}
#addrsBarText2 span {
    margin-left: 0.5em;
    text-align: left;
    width: 70%;
}
#addrsBarIcons {
    display: flex;
    font-size: 0.625em;
}
#addrsBarIcons img {
    height: 4vw;
    max-height: 2em;
    width: auto; 
}

.pages {
    background-image: linear-gradient(rgb(42, 46, 47) 85%, rgb(57, 61, 64) 0%);
    border: 2px solid rgb(122, 113, 100);
    border-bottom-width: 0px;

    flex-grow: 0;
    flex-shrink: 0;
    max-width: 100%;

    padding: 0.25rem;
}
.pages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;

    width: 50%;
}
.pages li {
    margin-right: 2px;
}
.pages li a {
    display: flex;
    text-align: left;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 8.5rem;
    height: 1.375rem;
    padding: 0 0.6875rem;
    
    font-weight: bold;
    font-size: 0.75em;
    border-radius: 0rem;
    line-height: 1.375rem;
    text-decoration: none;
    color: white;
    background-color: rgb(238, 238, 238);
    color: black;
}
.pages li img {
    display: block;
    height: 1.37em;
    width: 1.37em;

    margin-left: auto;
}

#currentPage a {
    background-color: rgb(204, 204, 204);
}

.navbar {
    overflow: hidden;
    border-left: 2px solid rgb(122, 113, 100);
    border-right: 2px solid rgb(122, 113, 100);
    font-size: 0.75em;

}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;
}
.navbar li {
    float: left;
    order:1;
    flex-grow:1;
    width: 25%;
}
.navbar li a {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;

    padding: .5vw;
}
.navbar a:hover {
    background-color: #111;
}

#current {
    background-color: rgb(33, 22, 21);
}
