.main {
    font-family: Poppins;

    font-size: 1.2em;
    color: white;

    background-color: rgb(33, 22, 21);
    border: 2px solid rgb(129, 120, 106);
    border-top: none;

    display: grid;
    grid-template-areas:
    'findMe findMe briefAbout briefAbout briefAbout briefAbout'
    'song song song song song song'
    'video video video favourites favourites favourites'
    'byf byf friends friends friends friends';
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
}

.main table {
    letter-spacing: 0rem;
    font-size: 0.625em;
    line-height: 1.375;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;

    border-collapse: collapse;
    border: 1; 

    text-align: left;
}
mark {
    background-color: rgb(140, 89, 52);
    color: white;
}

#findMe {
    grid-area: findMe;
    padding-left: 5px;
    border-bottom: 2px solid rgb(129, 120, 106);
}

#findMe table {
    width: 100%;
}

#findMe table tr {
    border-top: solid 1px rgb(48, 52, 54);
}

#findMe img {
    height: 10.6rem;
}

#briefAbout {
    grid-area: briefAbout;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid rgb(129, 120, 106);
}
#briefAbout img {
    height: 10.6rem;
}

@media (max-width : 360px) {
    #findMe img,
    #briefAbout img {
            height: 5rem;
        }
}

@media (max-width : 500px) {
    #findMe img,
    #briefAbout img {
            height: 8rem;
        }
}

#song {
    grid-area: song;
    text-align: center;

    background-image: linear-gradient(rgb(42, 46, 47) 0%, rgb(21, 23, 24) 100%);

    letter-spacing: 0rem;
    width: 100%;
    font-size: 0.75em;
    line-height: 1.375;

}
@media (max-width : 360px) {
    #song {
        font-size: 0.625em;
    }
}
#video {
    grid-area: video;
    padding-left: 5px;
    border-top: 2px solid rgb(129, 120, 106);
}
@media (max-width : 500px) {
    #video iframe {
        height: 10.5rem;
    }
}
#video h2 {
    letter-spacing: 0rem;
    font-size: 0.75em;
    line-height: 1.375;

    text-align: right;

    margin: 0;    
}
#favourites {
    grid-area: favourites;

    padding-left: 5px;
    padding-right: 5px;

    border-top: 2px solid rgb(129, 120, 106);
}
#favourites table tr {
    border-top: solid 2px #47494b;
}
#favourites img {
    height: 4.6rem;
}
@media (max-width : 360px) {
    #favourites img {
        height: 2.5rem;
    }
}
@media (max-width : 500px) {
    #favourites img {
        height: 4.5rem;
    }
}

#byf {
    grid-area: byf;
    width: 75%;
    padding-top: 1em;
    padding-left: 5px;
}
#byf table tr {
    border-top: solid 1px rgb(48, 52, 54);
}
@media (max-width : 500px) {
    #byf {
        width: 90%;
    }
}

#friends {
    grid-area: friends;
    display: grid;
    grid-template-areas:
    'title title title title title title'
    '. lukas lukas lukas lukas .'
    'kc kc mek mek jason jason'
    '. ollie ollie june june .';
    grid-template-columns: repeat(6, 1fr);

    letter-spacing: 0rem;
    width: 100%;
    font-size: 0.625em;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
}
#friends  img {
    height: 7.5rem;
}
@media (max-width : 360px) {
    #friends img {
        height: 4.5rem;
    }
}
@media (max-width : 500px) {
    #friends img {
        height: 5rem;
    }
}

#friendTitle {
    grid-area: title;
    text-align: center;

    font-size: 1.25em;

}
#ollie {
    grid-area: ollie;
    margin: 0 5px;
}
#lukas {
    grid-area: lukas;
    margin: 0 5px;

    display: grid;
    grid-template-areas:
    'pic pic'
    'left right';
    grid-template-columns: 50% 50%;
}
#lukas img {
    grid-area: pic;
}
#lukas #left {
    grid-area: left;
    text-align: center;
}
#lukas #right {
    grid-area: right;
    text-align: center;
}

#kc {
    grid-area: kc;
    margin: 0 5px;
}
#mek {
    grid-area: mek;
    margin: 0 5px;
}
#jason {
    grid-area: jason;
    margin: 0 5px;
}
#june {
    grid-area: june;
    margin: 0 5px;
}